{% extends 'mailing/base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-2">1001 mails</h1>
    <p class="lead fst-italic">Сервис управления рассылками
    </p>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card shadow-sm">
                <br><h3 class="card-title">Контакты</h3>

                    <div class="card-body">

                            <br><div class="btn-group">
                            <a href="{% url 'customers:customer_list' %}"
                               class="btn btn-block btn-outline-primary">Посмотреть все</a>

                            <a href="{% url 'customers:customer_create' %}"
                               class="btn btn-block btn-outline-primary">Добавить нового</a>

                    </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow-sm">
                <br><h3 class="card-title">Сообщение</h3>

                    <div class="card-body">
                        <br><div class="btn-group">

                            <a href="{% url 'mail_messages:message_create' %}"
                               class="btn btn-block btn-outline-primary">Добавить новое</a>
                    </div>



                    </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow-sm">
                <br><h3 class="card-title">Рассылка</h3>

                    <div class="card-body">

                            <div class="btn-group">
                            <a href="{% url 'mailing:mailing_list' %}"
                               class="btn btn-block btn-outline-primary">Посмотреть все</a>

                            </div>


                    </div>
            </div>
        </div>



{% endblock %}